div.highlight-none div.highlight pre {
	color: white;
	background: #666;
	border: none;
}

table th {
	background-color: white;
}

div.figure {
	text-align: center;
	font-style: italic;
}

div p.graphviz {
	text-align: center;
}
